*{
    padding: 0px;
    border: 0px;
    margin: 0px;
}
footer {
    background-color: #696969;
    padding: 0;
    margin: 0; 
    display: flex;
    justify-content: center;

}
footer .logo{
    margin: 0 auto;
    padding: 20px 20px 0px 20px;
    height: auto;
    width: 250px;
}
footer ul {
    margin: auto;
    padding: 20px
    
}
footer li {
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
}
footer small {
    font-size: 15px;
    color: #d3d3d3;
    padding: 0px 20px 20px 20px; 
}